@font-face{
    font-family:FontAwesome;
    src:url(../KillTeemoFonts/fontawesome-webfont.woff);
}

*{
    font-family:FontAwesome,'Microsoft YaHei';
    font-style:normal;
}

html {
    width:100%;
    height:100%;
    overflow-x:hidden;
    overflow-y:hidden;
}

body {
    margin-top:0px;
    margin-left:0px;
    width:100%;
    height:100%;
    background: #000000;
    background-size:cover;
}

#bg_div_gaosi{
    background: url(../Image/Kayi_gaosi.jpg) no-repeat;
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    background-size:cover;
    background-position:50% 50%;
    z-index:-2;
}

#Home_Snow_Div{
    width:100%;
    height:100%;
    z-index:-1;
}

.snow-container{ 
    position: fixed; 
    opacity: 0.3;
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    pointer-events: none; 
    background-repeat:no-repeat;
    z-index: 100001; 
}

#Home_TopDiv{
    width: 100%;
    min-width:940px;
    height:55px;
    background-repeat:no-repeat;
    background-position:50% 50%;
    background-image:url(../Image/TopBG_small.png);
}

#Home_TopDiv_div1{
    float:left;
    width:160px;
    height:55px;
}

#Home_TopDiv_div2{
    float:left;
    width:640px;
    height:55px;
}

#Home_TopDiv_div3{
    float:left;
    width: calc(100% - 800px);
    height:55px;
    text-align:right;
}

#killteemo_logo{
    margin-left:25px;
    margin-top:17px;
    cursor:pointer;
    width:118px;
    height:22px;
}

#menu,#menu1,#menu2,#menu3,#menu_home{
    float:left;
    margin-top:21px;
    margin-left:45px;
    color:#f0e6d2;
    font-size:14px;
    cursor:pointer;
    text-shadow: 3px 3px 12px #000000;
}

#menu_home{
    margin-left:25px;
    margin-top:12px;
    font-size:25px;
}

#indicator{
    position:absolute;
    left:365px;
    top:42px;
}

#SerBox{
    position :relative;
    margin-top:8px;
}

#from_ser {
	height:24px;
}

.bar7 input {
	width:140px;
	border-radius:24px;
	border:0px solid  #FFFFFF;
	background:rgba(255,255,255,0.1);
	transition:.3s linear;
	float:right;
    color:#f0e6d2;
    opacity:1;
    text-decoration:none;
    font-size:12px;
}

.bar7 input:focus {
    width:200px;
}

input::-ms-clear{display:none;}

.bar7 button {
    background:rgba(255,255,255,0);
    background-image:url(../Icons/search.png);
    background-repeat:no-repeat;
    background-position:center;
    background-size:16px 16px;
    right:0px;
    width:24px;
    border-radius:24px;
}

div.search {
	padding:10px 0;
}
#from_ser {
	position:absolute;
	width:140px;
	right:15px;
}
input,button {
	border:none;
	outline:none;
}
input {
	width:100%;
	height:24px;
	padding-left:13px;
}
button {
	height:24px;
	width:24px;
	cursor:pointer;
	position:absolute;
}

#mid_div{
    width:100%;
    height: calc(100% - 95px);
    text-align:center;
    -webkit-overflow-scrolling:touch;
}

#low_div{
    width:100%;
    height:40px;
}

 #icon1,#icon2,#icon3,#icon4,#icon5,#icon6{
    float: left;
    margin-top: 6px;
    margin-left: 30px;
    cursor:pointer;
    color: #f0e6d2;
    font-size: 19px;
}


 #mid_div_soup{
     width:900px;
     min-width:900px;
     margin:0px auto;
     -webkit-overflow-scrolling:touch;
 }


 /*============================================Context===================================================*/

  .top_dta{
     height:160px;
     width:100%;
 }

 #top_title{
     text-align:center;
     width:300px;
     height:50px;
     position:absolute;
     top:90px;
     left:300px;
     color:#f0e6d2;
     text-shadow: 3px 3px 12px #000000;
     font-size:30px;
 }

 #top_text{
     height:250px;
     position:relative;
 }

 #top_text_img{
     position:absolute;
     top:155px;
     left:40px;
 }

 .low_line{
     width:100%;
     height:19px;
     position:relative;
 }

 .mid_row_img{
     position:absolute;
     top:0px;
     left:0px;
 }

 .win_out_ban{
     position:absolute;
     width:120px;
     height:19px;
     top:2px;
     left:390px;
     color:#f0e6d2;
     text-align:center;
     font-size:10px;
     text-shadow: 5px 6px 7px #000000;
 }

 #div_details{
     position:relative;
     width:100%;
     height:240px;
 }

/*f===================================================*/

#div_details_p{
    position:absolute;
    top:74px;
    text-align:center;
    width:900px;
    height:50px;
    color:#f0e6d2;
    text-shadow: 4px 2px 8px #000000;
    font-size:20px;
}

#div_details_img{
    width:388px;
    height:24px;
    position:absolute;
    left:256px;
    bottom:90px;
}

#div_details_img_anti{
    width:388px;
    height:24px;
    position:absolute;
    left:256px;
    bottom:73px;
}


/*==========================tianchong==============================*/


.box_div_anti{
	width:100%;
	height:69px;
}

.box_div_anti_top{
	width:100%;
	height:50px;
	position:relative;
}

.div_paiming{
	float:left;
	width:10%;
	height:50px;
	position:relative;
}

.paiming_p{
	text-align:left;
	color:#f0e6d2;
	font-size:14px;
	position:absolute;
    left:21px;
	top:18px;
    font-weight:bold;
}

.icon_div_box{
	float:left;
	width:30%;
	height:50px;
	position:relative;
}

.img_img{
	width:50px;
	height:50px;
	border-radius:50px;
	border:2px solid rgba(255, 255, 255, 0.23);
	position: absolute;
	top:2px;
	left:20px; 
}

.aero_name{
	position:absolute;
	text-align:left;
	color:#f0e6d2;
	font-size:14px;
	top:17px;
	left:130px;
}

.pro_box{
	float:left;
	width:20%;
	height:50px;
	position:relative;
}

.pro_anti{
	width:100px;
	height:5px;
	background-color:rgba(255, 255, 255, 0.23);
	position:absolute;
	top:24px;
	left:8px;
}

.text_p{
	position:absolute;
	text-align:left;
	color:#f0e6d2;
	font-size:10px;
	top:19px;
	left:114px;
}

.ptin_P{
	position:absolute;
	text-align:left;
	color:#f0e6d2;
	font-size:14px;
	top:17px;
	left:22px;
}