<!DOCTYPE html>

<html id="Home_html">
<head>
    <link rel="bookmark" type="image/x-icon" href="../Icons/K_logo.ico" />
    <link rel="shortcut icon" href="../Icons/K_logo.ico">

    <link rel="stylesheet" type="text/css" href="~/CssStyle/aero_trend_sty.css" />
    <link rel="stylesheet" type="text/css" href="~/CssStyle/jquery.mCustomScrollbar.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/CssStyle/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/CssStyle/toastr.css" />

    <script type="text/javascript" src="~/Scripts/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="~/KillTeemoJS/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/KillTeemoJS/toastr.js"></script>
    <title>KillTeemo - 大区人口</title>
</head>
<body>
    <div id="bg_div_gaosi"></div>
    <div id="Home_Snow_Div" class="snow-container"></div>
    <div id="Home_TopDiv">
        <div id="Home_TopDiv_div1">
            <img id="killteemo_logo" src="~/Image/killteemo_text_logo.png" onclick="LinkAll('home')" />
        </div>
        <div id="Home_TopDiv_div2">
            <i id="menu_home" class="fa-home" onclick="LinkAll('home')"></i>
            <i id="menu" class="fa-area-chart" onclick="LinkAll('Bigdata')"> 英雄趋势</i>
            <i id="menu1" class="fa-pie-chart" > 大区人口</i>
            <i id="menu2" class="fa-puzzle-piece" onclick="LinkAll('herolist')"> 英雄详情</i>
            <i id="menu3" class="fa-cube" onclick="LinkAll('freehero')"> 周免英雄</i>
        </div>
        <div id="Home_TopDiv_div3">
            <div id="SerBox" class="search bar7">
                <div id="from_ser">
                    <input id="dataInput" type="text" placeholder="召唤师名称" autocomplete="off"
                           onkeyup="inputKeydown(event)" oninput="OnInputValueLength()" data-toggle="tooltip" data-placement="bottom" />
                    <button id="but" type="button" onclick="SearchClick()"></button>
                </div>
            </div>
        </div>
    </div>
    <img id="indicator" src="~/Image/indicator.png" />
    <div id="mid_div" class="content">
        <div id="mid_div_soup">
            <div class="top_dta" id="top_text">
                <img id="top_text_img" src="~/Image/champion_trend_img/top_text.png" />
                <p id="top_title">大&nbsp;&nbsp;&nbsp;区&nbsp;&nbsp;&nbsp;人&nbsp;&nbsp;&nbsp;口</p>
            </div>
            <div class="top_dta">
                <div class="win_row" style="width:100%;height:141px;">
                    <div style="position:relative">
                        <p id="aero_all_num" style="width:100%;height:100px;text-align:center;font-size:45px;color:#f0e6d2;letter-spacing:18px;position:absolute;top:10px;font-weight:bold;white-space:pre">0</p>
                    </div>
                </div>
                <div class="low_line">
                    <img class="mid_row_img" src="~/Image/champion_trend_img/line_mid.png" />
                    <p class="win_out_ban">国 服 总 注 册 量</p>
                </div>
            </div>
            <div class="top_dta">
                <div class="out_row" style="width:100%;height:141px;">
                    <div style="position:relative">
                        <p id="aero_life_num" style="width:100%;height:80px;text-align:center;font-size:33px;color:#f0e6d2;letter-spacing:18px;position:absolute;top:50px;font-weight:bold;white-space:pre">0</p>
                    </div>
                </div>
                <div class="low_line">
                    <img class="mid_row_img" src="~/Image/champion_trend_img/line_mid.png" />
                    <p class="win_out_ban">国 服 活 跃 玩 家</p>
                </div>
            </div>
            <div class="top_dta">
                <div class="ban_row" style="width:100%;height:141px;">
                    <div style="position:relative">
                        <p id="men_women" style="width:100%;height:80px;text-align:center;font-size:30px;color:#f0e6d2;letter-spacing:18px;position:absolute;top:50px;font-weight:bold;white-space:pre">0% / 0%</p>
                    </div>
                </div>
                <div class="low_line">
                    <img class="mid_row_img" src="~/Image/champion_trend_img/line_mid.png" />
                    <p class="win_out_ban">男 / 女 玩家总比</p>
                </div>
            </div>
            <div id="div_details">
                <p id="div_details_p">详&nbsp;&nbsp;细&nbsp;&nbsp;数&nbsp;&nbsp;据</p>
                <p data-toggle="tooltip" data-placement="top" title="男/女比例不准确，少数玩家不设置自己的真实性别" style="color:#f0e6d2;font-size:25px;text-align:center;position:absolute;left:0px;top:195px;width:900px;cursor:pointer">◆</p>
                <img id="div_details_img" src="~/Image/champion_trend_img/line_small_title.png" />
            </div>
            <div style="width:100%;height:65px;position:relative">
                <img src="~/Image/champion_trend_img/win.png" style="height:19px;left:0px;position:absolute;top:0px;" />
                <div style="width:100%;height:30px;left:0px;top:23px;position:relative">
                    <div style="float:left;width:24.5%;height:30px">
                        <p style="color:#f0e6d2;font-size:14px;text-align:left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;排&nbsp;名</p>
                    </div>
                    <div style="float:left;width:7.5%;height:30px">
                        <p style="color:#f0e6d2;font-size:14px;text-align:left">大&nbsp;区</p>
                    </div>
                    <div style="float:left;width:28%;height:30px">
                        <p style="color:#f0e6d2;font-size:14px;text-align:center;cursor:pointer;" onclick="getdata('Num')">注&nbsp;册&nbsp;数&nbsp;∨</p>
                    </div>
                    <div style="float:left;width:20%;height:30px">
                        <p style="color:#f0e6d2;font-size:14px;text-align:center;cursor:pointer;" onclick="getdata('Mode')">排&nbsp;位&nbsp;比&nbsp;∨</p>
                    </div>
                    <div style="float:left;width:20%;height:30px">
                        <p style="color:#f0e6d2;font-size:14px;text-align:center;cursor:pointer;" onclick="getdata('Women')">男&nbsp;/&nbsp;女&nbsp;比&nbsp;∨</p>
                    </div>
                </div>
                <img src="~/Image/champion_trend_img/win.png" style="height:19px;left:0px;position:absolute;top:45px;" />
            </div>
            <div id="table_hero">
                
            </div>
        </div>
    </div>
    <div id="low_div">
        <i id="icon1" class="fa-question-circle" data-toggle="tooltip" data-placement="top" title="关于站点（KillTeemo FAQ）" onclick="LinkAll('faq')"></i>
        <i id="icon2" class="fa-line-chart" data-toggle="tooltip" data-placement="top" title="行为数据监测平台" onclick="LinkAll('Info')"></i>
        <i id="icon3" class="fa-envelope" data-toggle="tooltip" data-placement="top" title="发送邮件给开发者" onclick="LinkAll('email')"></i>
        <i id="icon4" class="fa-qq" data-toggle="tooltip" data-placement="top" title="联系QQ" onclick="LinkAll('Tencent')"></i>
        <i id="icon5" class="fa-paper-plane" data-toggle="tooltip" data-placement="top" title="浏览开发者博客" onclick="LinkAll('lofter')"></i>
        <i id="icon6" class="fa-gift" data-toggle="tooltip" data-placement="top" title="捐助开发者，站点不以任何形式的渠道商业化" onclick="LinkAll('pay')"></i>
    </div>
    <script type="text/javascript" src="~/KillTeemoJS/Globals.js"></script>
    <script type="text/javascript" src="~/KillTeemoJS/AeroTrend_JS.js"></script>
</body>
</html>
